{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
        <div class=sortie-details-infos"> </div>

<div class=sortie-details-infos">
        <h2>{{ sortie.name }}</h2>
        <div>Date de sortie:{{ sortie.date|date("d-m-y") }}</div>
        <div>Date de sortie:{{ sortie.dateCreated|date("d-m-y") }}</div>
        <div>Date de sortie:{{ sortie.dateLimite|date("d-m-y") }}</div>
        <div>Duree:{{ sortie.during }}</div>
        <div> max de personne:{{sortie.max }}</div>
        <div> Description:{{ sortie.overview }}</div>
        <div> Status:{{ sortie.status }}</div>



       <section class="user">
                <h3>User</h3>
                {%  for user in sortie.user %}
                <article>
                        <div>
                            <img src="{{ asset('img/images.jpg') }}" alt="{{ sortie.name }} user #{{ user.name }}">
                                 <h4>User #{{user.name}}</h4>

                        </div>
                </article>
                {% endfor%}
        </section>

</div>

{% endblock %}