<nav>
    <ul>
        <li> <a href="{{ path('main_home') }} " title="accueil">accueil </a>        </li>
        <li> <a href="{{ path('main_sorties') }} " title="Sortie">Sortie</a>        </li>
    <li>   <a href="{{ path('main_User') }} " title="Utilisateurs">Utilisateurs</a>        </li>


        <li>  <a href="{{ path('main_create') }} " title="creation">creation </a>        </li>


            <li>  <a href="{{ path('app_login') }} " title="login">login </a>            </li>
        {#   <li><a href="{{ path('app_register') }} " title="creation">Register </a></li>#}


    </ul>

</nav>