<nav>
    <ul>
        <li> <a href="{{ path('main_home') }} " title="accueil">Accueil </a>        </li>


        <li> <a href="{{ path('main_sorties') }} " title="Sortie">Sortie</a>        </li>
        <li>   <a href="{{ path('list') }} " title="liste ">liste des sorties</a>        </li>


        <li>  <a href="{{ path('create') }} " title="creation">Création </a>        </li>
   {# <li>   <a href="{{ path('user') }} " title="Utilisateurs">Utilisateurs</a>        </li>#}





        <li>  <a href="{{ path('app_login') }} " title="login">Login </a>            </li>
          <li><a href="{{ path('app_register') }} " title="creation">Register </a></li>


    </ul>

</nav>